@import "./Admin/Tabs.less";
@import "./Admin/TagsTable.less";

.FoFBlog {
  padding: 30px 0;
}

.FoFBlog-SelectCategories {
  margin-bottom: 20px;
  button {
    float: right
  }

  &:after {
    content: " ";
    clear: both
  }
}